body{
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
    
}

h1 {
    text-align:center;
    color:white;
}

body { 
    background-color:rgb(4,0,71);
    background:linear-gradient(90deg, rgba(4,0,71,1) 0%, rgba(9,9,121,1) 10%, rgba(128,0,255,1) 100%);
    color:white;
}

a:link, a:visited {
    background-color: lightblue;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    border: 4px solid white;
    width: 100%;
    height: 100%;
}

.kerd {
    border-radius: 10px;
    border-left: 4px solid lightblue;
}

img {
    float:right;
    width:20%;
    border-radius:20px;
    margin-right:70px;
}