body {
    background-color: rgb(91, 127, 205);
    color: white;
}

h1 {text-align: center;}

.retek { 
    width: 100%;
    text-align: left;
}

.kep1 {
    width: 70%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tablazat0 {
    width: 100%;
    color: black;
}

table,td,th {
    border: solid 1px black;
}

.kiskep1 {
    float: right;
    height: 50px;
    width: 75px;
}

.kiskep2 {
    float: left;
    height: 50px;
    width: 75px;
}