body {
    color: black;
    background-color:lavender;
}

h1 {text-align: center;}

.lista { 
    width: 100%;
    text-align: left;
}

.kep {
    width: 80%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kiskep1 {
    float: right;
    height: 50px;
    width: 75px;
}

.kiskep2 {
    float: left;
    height: 50px;
    width: 75px;
}

.tablazat0 {
    width: 90%;
    color: black;
    float: left;
}

table,td,th {
    border: solid 1px black;
}

.szoveg2 {
    float: right;
}


.szoveg3 {
    background-color:;
    border-radius: 25px;
    border: solid 3px;
    color:;
    padding: 20px;
    width: 60%;
    height: 100%;
}


.kep1 {
    width: 529px;
    height: 366px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}