body {
    color: black;
    background-color:lavender;
}

h1 {text-align: center;}

.lista { 
    width: 100%;
}

.kep {
    width: 80%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kiskep1 {
    float: right;
    height: 50px;
    width: 75px;
}

.kiskep2 {
    float: left;
    height: 50px;
    width: 75px;
}

.tablazat0 {
    width: 90%;
    color: black;
    float: left;
}

table,td,th {
    border: solid 1px black;
}

.szoveg1 {
    width: 60%;
    text-align: center;
    margin-left: 250px;
}

.szoveg2 {
    float: right;
}


.szoveg3 {
    padding: 20px;
    width: 60%;
    height: 100%;
}


.kep1 {
    width: 529px;
    height: 366px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited {
    background-color: purple;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    border: 4px solid;
    width: 100%;
    height: 100%;
}

body{
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
}




