body {
    background-color: lightblue;
}


h1 {
    text-align: center;
}


.szoveg1 {
    background-color: lightseagreen;
    color: black;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    padding: 25px;
}


.kep1 {
    height: 100%;
    width: 90%;
    border: 5px solid white;
}

.kep2 {
    height: 25%;
    width: 60%;
    margin-left: 200px;
    margin-top: 80px;
    border-radius: 25px;
}

.kep3 {
    height: 25%;
    width: 60%;
    margin-top: 70px;
    margin-left: 200px;
    border-radius: 25px;
}

.kep4 {
    height: 25%;
    width: 60%;
    margin-top: 70px;
    margin-left: 200px;
    border-radius: 25px;
}


p {
    text-align:center ;
    font-size: large;
}


a:link, a:visited {
    background-color: lightseagreen;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    border: 4px solid white;
    width: 100%;
    height: 100%;
    font-weight:700; 
}